.ce-headline {
    h2 {
        font-size: $font-size-l;
    }
    h3 {
        font-size: $font-size-m;
    }
    h2 + p {
        font-family: $font-family-georgia;
        font-size: $font-size-l * 0.75;
    }
    h3 + p {
        font-family: $font-family-georgia;
        font-size: $font-size-m * 0.75;
    }
}

/* MEDIAQUERY */
@media (max-width: 479px) {
    .ce-headline {    
        h2 {
            font-size: $font-size-l - 4px;
        }
        h3 {
            font-size: $font-size-m - 4px;
        }
    }
}